<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/external.css">
</head>
<body>
    <div class="ext">
        <h1>External</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quam dolor laudantium aspernatur, a adipisci perspiciatis repellendus nemo expedita dignissimos molestiae culpa inventore ratione accusamus eum corporis quibusdam porro veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quidem nobis praesentium sit quas quasi architecto. Fugit, eaque quis eos ullam possimus ad, recusandae dolore ipsum repudiandae reiciendis laudantium. Laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis provident dolor itaque qui blanditiis recusandae quam quas nostrum earum. Ipsa repudiandae ea sit non saepe explicabo, vero aliquam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut repellendus minus at adipisci, reiciendis unde voluptatibus blanditiis dolores vitae cumque velit laudantium consequatur harum optio modi architecto assumenda aspernatur?
        </p>
    </div>
    <div class="exl">
        <img src="../images/pexels-donald-tong-23474.jpg" width="50%">
    </div>
</body>
</html>